@import 'layout/scss/main';

@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";

body {
  background: url('/assets/img/unicorn_of_friendship.png') center center no-repeat;
  background-size: auto;
  background-color: #D8E689;
}
