<table cdk-table [dataSource]="dataSource" multiTemplateDataRows class="table table-bordered table-dark">

  <!-- Weight Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef> Name </th>
    <td cdk-cell *cdkCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="lastName">
    <th cdk-header-cell *cdkHeaderCellDef> Nachname </th>
    <td cdk-cell *cdkCellDef="let element">
      {{element.lastName}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="bereich">
    <th cdk-header-cell *cdkHeaderCellDef>Bereich</th>
    <td cdk-cell *cdkCellDef="let element">
      {{element.bereich}}
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" (click)="clickUser(row)" [ngClass]="{selected: (selected$ | async) === row}"></tr>
</table>

<button class="btn btn-dark" (click)="openForm()" *ngIf="(selected$ | async) ?? -1 as selected">
  {{selected !== -1 ? 'Bearbeiten' : 'Anlegen'}}
</button>
