<table cdk-table [dataSource]="dataSource" class="table table-bordered" multiTemplateDataRows>

  <!-- Weight Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef> Name </th>
    <td cdk-cell *cdkCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="lastName">
    <th cdk-header-cell *cdkHeaderCellDef> Nachname </th>
    <td cdk-cell *cdkCellDef="let element">
      {{element.lastName}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="action">
    <td cdk-footer-cell *cdkFooterCellDef="" colspan="2">
      <button class="btn btn-sm btn-dark ms-auto d-block" (click)="handleAction()">Click me</button>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" (click)="selectEmployee(row)"></tr>
  <tr cdk-footer-row *cdkFooterRowDef="['action']"></tr>

</table>
